<div>
  <h1>Angular Directives</h1>
  <h4>Types of Angular Directives</h4>
  <ul>
    <li>Component Directives</li>
    <li>Structural Directives</li>
    <li>Attribute Directives</li>
    <li>Custom Directives</li>
  </ul>

  <li>Structural Directives :-</li>

  <p>
    These directives alter the layout of the DOM by adding or removing elements.
    common examples include &#64;If, &#64;For and &#64;Switch.
  </p>
  <ul>
    <li>
      <strong>&#64;If</strong> - This directive is used to add or remove an
      element from the DOM based on a condition.
    </li>
    <li>
      <strong>&#64;For</strong> - This directive is used to repeat a block of
      HTML code for a number of times.
    </li>
    <li>
      <strong>&#64;Switch</strong> - This directive is used to switch between
      multiple elements.
    </li>
  </ul>

  <h6>old way to use Structural Directives</h6>
  <div>
    <p>example of Structural Directives</p>
    <h3 *ngIf="isLogedIn">{{ userName }}</h3>
    <h3 *ngIf="!isLogedIn">User Is Not Logged In</h3>
  </div>
  <h6>new way to use Structural Directives</h6>
  @if(isLogedIn){
  <h3>{{ userName }}</h3>
  } @else {
  <h3>User Is Not Logged In (loaded using &#64;else)</h3>
  }
  <!-- @if(!isLogedIn){
  <h3>User Is Not Logged In</h3>
  } -->
  <h3 *ngIf="isLogedIn; else message">{{ userName }}</h3>
  <ng-template #message>
    <h3>User Is Not Logged In (loaded using ng template)</h3>
  </ng-template>

  <p>if directives with Number Values</p>

  <button (click)="handleLogin()" *ngIf="countLogin < 4">Log In</button>
  <h3 *ngIf="countLogin > 3">Exceeded 3 Login attempts</h3>

  @if(countLogin > 3){
  <h3>Exceeded 3 Login attempts</h3>
  }@else {
  <button (click)="handleLogin()">Log In</button>
  }

  <h3 *ngIf="userRole == 'admin'; else userMessage">Welcome Admin</h3>

  <ng-template #userMessage>
    <h3>Welcome Member</h3>
  </ng-template>

  @if(userRole == 'admin'){
  <h3>Welcome Admin</h3>
  }@else if(userRole=='member'){
  <h3>Welcome Member</h3>
  }

  <h1>Ng-Template :-</h1>
  <p>
    ng-template is a powerful tool in Angular that allows us to define templates
    content that can be used later in our application. Unlike other HTML
    elements, the content inside the ng-template tag is not rendered until it is
    explicitly called. We can use it when we need it according to our
    requirements/conditions.
  </p>

  <ng-template>
    <p>i am ng-template which is not in use</p>
  </ng-template>

  <h6 *ngIf="userRole == 'vishal'; else inUseNg"></h6>
  <ng-template #inUseNg>
    <p>I am ng-template which is in use</p>
  </ng-template>
  <hr />
  <ng-template #callToAction>
    <button>Join Now</button>
  </ng-template>

  <div [ngTemplateOutlet]="callToAction">
    <h3>Side Bar</h3>
  </div>

  <div>
    <h3>Hero</h3>
  </div>

  <h1>ng-For Directives :-</h1>
  -- 1st approch to render array --
  <h5>{{ users }}</h5>

  -- 2nd approch to render array using array index --
  <h5>{{ users[0] }}</h5>
  <h5>{{ users[1] }}</h5>
  <h5>{{ users[2] }}</h5>

  -- 3rd approch to render array using ngFor (old approch) <br />

  <h5 *ngFor="let user of users; let index = index">
    {{ index + 1 }} {{ " " + user }}
  </h5>

  -- 4th approch to render array using &#64;for(new approch) -- @for(user of
  users;track user){
  <h3>{{ user }}</h3>
  } --using ngfor (old approch) <br />
  --count
  <ul>
    <li *ngFor="let user of usersObj; let count = count">
      {{ user.id }}/{{ count }} Name: {{ user.name }} Role: {{ user.role }}
    </li>
  </ul>

  --using &#64;for syntax <br />
  --count
  <ul>
    @for(user of usersObj;track usersObj;let i =$index;let count = $count){
    <li>
      {{ user.id }}/{{ count }} Name: {{ user.name }} Role: {{ user.role }}
      <button (click)="deleteUser(user)">Delete User</button>
    </li>
    }
  </ul>

  <h2>Angular change detection</h2>
  <button (click)="addUser()">Add New User</button>
  <p>to access index in &#64;for need to access like this let i = $index</p>

  <h2>Angular &#64;empty Block</h2>

  <ul>
    @for(user of usersObj;track usersObj;let i =$index;let count = $count){
    <li>
      {{ user.id }}/{{ count }} Name: {{ user.name }} Role: {{ user.role }}
      <button (click)="deleteUser(user)">Delete User</button>
    </li>
    }@empty {
    <p>No Users Found</p>
    }
  </ul>

  <h2>For loop properties First,Last,Even,Odd</h2>
  --old approch <br />
  <ul>
    <li
      *ngFor="
        let user of usersObj;
        let count = count;
        let first = first;
        let last = last;
        let even = even;
        let odd = odd
      "
      [style.backgroundColor]="even ? 'grey' : odd ? 'lightgray' : ''"
    >
      isFirstUser {{ first }}| {{ user.id }} Name: {{ user.name }} Role:
      {{ user.role }} | &nbsp;isLastUser {{ last }}
    </li>
  </ul>

  --new approch <br />
  <ul>
    @for(user of usersObj;track usersObj;let isFirstUser=$first;let
    isLastUser=$last;let isEven=$even;let isOdd=$odd){
    <li [style.backgroundColor]="isEven ? 'grey' : isOdd ? 'lightGrey' : ''">
      isFirstUser {{ isFirstUser }}| {{ user.id }} Name: {{ user.name }} Role:
      {{ user.role }} | &nbsp;isLastUser {{ isLastUser }}
    </li>
    }
  </ul>

  <h2>ng switch case</h2>
  --old approch <br />
  <div [ngSwitch]="userRole">
    <p *ngSwitchCase="'admin'">Welcome Admin</p>
    <p *ngSwitchCase="'member'">Welcome Member</p>
    <p *ngSwitchDefault>Plz Login</p>
  </div>
</div>
