<p>{{ postListTitle }} (in child compo )</p>

--this button will send message to parent component using
{{ "@Output" }} Emitter
<button (click)="sendMessage()">Send MSG to Parent</button>
<br />
---sendMessage method will send message to parent component using
{{ "@Output" }} Emitter <br />
----check {{ "@Output" }} Emitter code to understand complete flow

<!-- this is the example of ng-content -->

<app-card>
  <h2>Blog Post Title 1</h2>
  <p>18/04/2024</p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorum
    obcaecati illo quia officia omnis. Corporis officiis nulla, quod non
    reiciendis ex eveniet voluptates architecto amet deserunt? Deserunt,
    asperiores fuga.
  </p>
</app-card>
