<div>
  hr />
  <div>
    <h1>Angular Component Data-Flow</h1>

    --what is Component <br />
    Component is main building block of angular application. which will be used
    to structure angular app <br />
    <img
      [style]="{ width: '200px', }"
      src="assets/componentStructure.png"
      alt=""
    />

    <h2>What is Component Relationship</h2>
    --In Angular application components can have relation with each other
    components. They can parent, child, slibling Components <br />
    <img
      [style]="{ width: '400px', }"
      src="assets/ComponentRelations.png"
      alt=""
    />

    <li>Parent Child relationship</li>
    --Parent Component include Child Component in its template <br />
    --Parent component can pass data to child component using input properties
    <br />
    --Child component can pass data to parent component using output properties
    <br />

    <li>Sibling to slibling relationship</li>
    --The components which are in same level are called sibling components
    <br />
    --Sibling components can communicate with each other using shared service
    <br />
  </div>

  <div>
    <h2>Parent Child relationship & data flow</h2>
    --here component-data-flow is parent component and post-list is child
    <p>{{ appPostTitle }} (in parent comp)</p>
    <post-list [postListTitle]="appPostTitle"></post-list>

    <p>--Parent Child relationship & data flow example</p>
    <p>Is User Logged In:-{{ isUserLoggedIn }}</p>

  </div>
</div>
